beautifulsoup4==4.6.0
bleach==3.2.1
bs4==0.0.1
cachetools==4.1.1
collections-extended==1.0.3
decorator==4.4.2
dill==0.3.3
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
html5lib==1.1
Jinja2==2.11.2
lxml==4.6.2
matplotlib==3.3.2
nltk==3.5
notebook==6.1.4
numpy==1.18.5
pandas==1.1.4
Pillow==8.0.1
python-dateutil==2.8.1
qtconsole==4.7.7
QtPy==1.9.0
regex==2020.10.28
requests==2.25.0
requests-oauthlib==1.3.0
rsa==4.6
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.3
seaborn==0.11.0
Send2Trash==1.5.0
sentence-transformers==0.3.9
sentencepiece==0.1.91
sklearn==0.0
systools==0.0.92
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
tensorflow-hub==0.10.0
torch==1.7.0
tqdm==4.51.0
transformers==3.5.1
wrapt==1.12.1
xgboost==1.2.1
xtract==0.1a3
