<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="text-gray-700 body-font" style="background-color: #3FADA8">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg> -->
            <span class="ml-3 text-xl" style="color: white;">NLP Team 27 Project</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center" style="color: white;">
            <a class="mr-5 hover:text-gray-900" href="/">Home</a>
            <a class="mr-5 hover:text-gray-900" href="/members">Members</a>
            <a class="mr-5 hover:text-gray-900" href="/about">About</a>
          </nav>
        </div>
      </header>

<section class="ml-20 mr-20 text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex w-full mb-20 flex-wrap">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 lg:w-1/3 lg:mb-0 mb-4">About Our Project</h1>
      <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">Our problem statement is stance detection in online media data. Stance detection is the task of automatically determining
from the text whether the author of the text is in favor of, against, or neutral towards a proposition or target. The target may be a person,
an organization, a government policy, a movement, a product, etc. Major challenges for multi-class stance detection are as follows:
Lexical - the topic of the debate may be explicitly or subtly mentioned by the author and data may contain internet slang/acronyms
that are not present in a normal dictionary; Syntactic - grammatical structure may not be followed and online media-specific data like
hashtags, emojis, replies, etc be present in data; Semantic - finding right context and dealing with negation, sarcasm, humor to name a
few. Stance detection is an ongoing research field and here we have summarized a few papers that show promising results.</p>
    </div>

  </div>
</section>



</body>
</html>